<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Project Kirk7by</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/stylesheets/kirk7byStyle.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/iconBuncer.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="head-menu">

            <div class="logo-munu">
                <a href="@Url.Action("Index", "Home" )"><img src="~/ImageElements/BUNKERLOGOS_opacity.png" /></a>
                <a class="right-logo" href="@Url.Action("Index", "Home" )"><img src="~/ImageElements/bunger_rigth.png" /></a>
            </div>
            <div class="menu-menu">
                <ul class="buttons-head-menu">
                    <li id="li-general">@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Архивы", "Archives", "Home")</li>
                    <li>@Html.ActionLink("Бункер", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li><a href="~/menu" class="btn btn-primary btn-lg">Тестирование ОШИБОК &raquo;</a></li>
                </ul>
            </div>

        </div>
    </header>
    <!--        @Html.Partial("_LoginPartial")  -->
   


    <div class="container-div">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; время загрузки: @DateTime.Now – Powered by Kirk7by</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
